<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Students</h1>
    <%= link_to 'New student', new_student_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="students" class="min-w-full mt-5">
  <table class="min-w-full">
    <thead>
      <th class="border border-slate-900">Full Name</th>
      <th class="border border-slate-900">Phone</th>
      <th class="border border-slate-900">Email</th>
    </thead>
    <tbody class="border border-slate-500">
    <% @students.each do |student| %>
      <tr class="border border-slate-500">
        <td><%= student.full_name %></td>
        <td><%= student.phone %></td>
        <td><%= student.email %></td>
        <td><%= link_to "Show", student %></td>
        <td><%= button_to "Delete", student, :method => "delete" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
