<div id="<%= dom_id event %>">
  <p>
    <strong>Event start:</strong>
    <%= event.event_start.strftime('%c') %>
  </p>

  <p>
    <strong>Event end:</strong>
    <%= event.event_end %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>
  <%= button_to "Delete", event, method: :delete, class: "bg-sky-300 px-2 py-2 rounded text-white" %>

</div>
