<div id="<%= dom_id event %>">
  <p>
    <strong>Event start:</strong>
    <%= event.event_start.strftime('%c') %>
  </p>

  <p>
    <strong>Event end:</strong>
    <%= event.event_end %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>
  <%= button_to "Delete", event, method: :delete, class: "bg-yellow-200 px-4 py-4" %>

</div>
