<%= form_with(model: lesson, class: "contents") do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
        <% lesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 columns-2">
  <div>
  <%= form.label :start_time %>
  <%= form.datetime_field :start_time, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-1/2" %>
  </div>
  <div>
  <%= form.label :end_time %>
  <%= form.datetime_field :end_time, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-1/2" %>
  </div>
  </div>

  <div class="my-5 columns-2">
  <div>
  <%= form.label :student_id %>
  <%= form.collection_select(:student_id, Student.all, :id, :first_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 ") %>
  </div>
  <div>
  <%= form.label :teacher_id %>
  <%= form.collection_select(:teacher_id, Teacher.all, :id, :first_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2") %>
  </div>
  </div>

  <div class="my-5">
  <%= form.label :plan %>
  <%= form.rich_text_area :plan %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
