<%= form_with(model: lesson, class: "contents", id: "form" ) do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
        <% lesson.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 columns-2">
  <div>
  <%= form.label :start_time %>
  <%= form.datetime_field :start_time, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
  </div>
  <div>
  <%= form.label :end_time %>
  <%= form.datetime_field :end_time, class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2" %>
  </div>
  </div>

  <div class="my-5 columns-2">
  <div>
  <%= form.label :student_id %>
  <%= form.collection_select(:student_id, Student.all, :id, :first_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 ") %>
  </div>
  <div>
  <%= form.label :teacher_id %>
  <%= form.collection_select(:teacher_id, Teacher.all, :id, :first_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2") %>
  </div>
  </div>

  <div class="my-5">
  <%= form.label :plan %>
  <%= form.hidden_field :plan %>
  <div id="editor-container"></div>
  <div id="editor"><%= sanitize @lesson.plan %></div>
</div>

<div class="my-5">
        <%= form.label :recurring %>
        <%= form.check_box :recurring %>
</div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-purple-600 hover:bg-purple-800 text-white inline-block font-medium cursor-pointer", onclick: "subForm()" %>
  </div>
<% end %>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
var myForm = document.querySelector('#form');
  var quill = new Quill('#editor', {
    theme: 'snow'
  });

  var subForm = function() {
  var lessonPlan = document.querySelector('#lesson_plan');
  lessonPlan.value = quill.root.innerHTML;
}
</script>