<div id="<%= dom_id lesson %>" class="w-full bg-blue-500">

<%= lesson.student.full_name %>
<%= lesson.start_time.to_date %>
<strong class="block font-medium mb-1">Start time:</strong>
    <%= simple_time(lesson.start_time) %>
    <strong class="block font-medium mb-1">End time:</strong>
    <%= simple_time(lesson.end_time) %>

    <strong class="block font-medium mb-1">Teacher:</strong>
    <%= lesson.teacher.full_name %>
  
  <strong class="block font-medium mb-1">Plan:</strong>
  <%= sanitize lesson.plan, tags: %w(p strong em a ul li h1 h2 h3 h4), attributes: %w(href) %>


  
  <% if lesson.previous %>

  <strong><%= link_to "Previous Lesson", lesson.previous %></strong>
  <%= sanitize lesson.previous.plan, tags: %w(p strong em a ul li h1 h2 h3 h4), attributes: %w(href) %>

  <% end %>

  
 
  <%= link_to "Remind", reminder_path %>

  <% if action_name != "show" %>
    <%= link_to "Show this lesson", lesson, class: "rounded-lg py-3 px-5 bg-purple-200 font-medium" %>
    <%= link_to 'Edit this lesson', edit_lesson_path(lesson), class: "rounded-lg py-3 ml-2 px-5 bg-purple-200  font-medium" %>
  <% end %>
</div>
