
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Lessons</h1>
    <%= link_to 'New lesson', new_lesson_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="lessons" class="min-w-full mt-5">
    <table class="min-w-full">
      <thead>
        <th class="border border-slate-900">Lesson Time</th>
        <th class="border border-slate-900">Student</th>
        <th class="border border-slate-900">Teacher</th>
        <th class="border border-slate-900">Duration</th>
      </thead>
      <tbody class="border border-slate-500">
      <% @lessons.each do |lesson| %>
        <% if lesson.id.even? %>
        <tr class="border border-slate-500">
        <% else %>
        <tr class="border border-slate-500 bg-slate-300">
        <% end %>
          <td><%= simple_time(lesson.start_time) %></td>
          <td><%= lesson.student.full_name %></td>
          <td><%= lesson.teacher.full_name %></td>
          <td><%= lesson.duration %></td>
          <td><%= link_to "Show", lesson %></td>
          <td><%= button_to "Delete", lesson, :method => "delete" %></td>
        </tr>
        <% end %>
        <tr>
        <td>Totals</td>
        <td></td>
        <td><%= @lessons.count %></td>
        <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
