<%= week_calendar(number_of_weeks: 1, events: @lessons) do |date, lessons| %>
  <div class="absolute top-0 text-center w-full" %>
    <%= date.strftime("%b") %>
    <%= date.day %>
  </div>
  <div class="grid-cols-1">
    <% lessons.each do |lesson| %>
        <div class="border border-black border-1 m-1 bg-purple-800 text-white text-xs p-1">
        <a href="/lessons/<%= lesson.id%>"><%= lesson.student.last_name %> - <%= lesson.start_time.strftime("%I:%M%p") %></a>
        </div>
    <% end %>
  </div>  
<% end %>