<!DOCTYPE html>
<html>
  <head>
    <title>LessonScheduler</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track" => "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@0,400;1,300&display=swap" rel="stylesheet">

  </head>

  <body>
    <main class="relative flex min-h-screen w-screen">
      <div class="w-1/5 p-5">
        <%= render 'partials/sidebar' %>
      </div>
     <div class="w-4/5 p-5 pt-10">
      <%= yield %>
     </div>
    </main>
  </body>
</html>
